<div class="fixed inset-0 flex items-center justify-center z-50 overflow-hidden">
  <div class="fixed inset-0 bg-gray-900 bg-opacity-70"></div>
  
  <div class="relative bg-gray-800 rounded-lg overflow-hidden shadow-2xl transform transition-transform duration-300 sm:max-w-2xl sm:w-full scale-95 hover:scale-100 z-10">
    
    <div class="bg-gradient-to-r from-yellow-500 to-orange-600 px-6 pt-6 pb-4 sm:pt-8 sm:pb-6">
      <h3 class="text-2xl font-semibold text-white mb-4">
        Restaurant Information Added Successfully
      </h3>
    </div>
    
    <div class="p-6 text-gray-300">
      <ul class="list-disc list-inside text-lg space-y-2">
        <li>
          <span class="font-medium text-gray-200">Name of Restaurant:</span> {{ restaurantDetails.name }}
        </li>
        <li>
          <span class="font-medium text-gray-200">Owner of Restaurant:</span> {{ restaurantDetails.owner }}
        </li>
        <li>
          <span class="font-medium text-gray-200">Street Name:</span> {{ restaurantDetails.streetName }}
        </li>
        <li>
          <span class="font-medium text-gray-200">City:</span> {{ restaurantDetails.city }}
        </li>
        <li>
          <span class="font-medium text-gray-200">Zipcode:</span> {{ restaurantDetails.zipCode }}
        </li>
        <li>
          <span class="font-medium text-gray-200">Phone No.:</span> {{ restaurantDetails.contact }}
        </li>
        <li>
          <span class="font-medium text-gray-200">Email:</span> {{ restaurantDetails.email }}
        </li>
        <li>
          <span class="font-medium text-gray-200">Type:</span> {{ restaurantDetails.type }}
        </li>
      </ul>
    </div>
    
    <div class="bg-gray-900 px-6 py-4 flex justify-end">
      <button
        type="button"
        class="px-6 py-3 bg-yellow-400 text-gray-900 font-medium rounded-md shadow-md hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-300 transition duration-300"
        (click)="handleAccept()"
      >
        Ok
      </button>
    </div>
  </div>
</div>
